<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp.novabeyond.product.mapper.shopify.ProductMapper">

    <cache eviction="LRU" flushInterval="10000" readOnly="true" size="1024"/>

    <resultMap type="emp.novabeyond.product.domain.shopify.Product" id="ProductResult">
        <id property="id"                   column="id"                 />
        <result property="productId"        column="product_id"         />
        <result property="productType"      column="product_type"       />
        <result property="compareAtPrice"   column="compare_at_price"   />
        <result property="virtualInventory" column="virtual_inventory"  />
        <result property="publishedAt"      column="published_at"       />
        <result property="createdAt"        column="created_at"         />
        <result property="updatedAt"        column="updated_at"         />
    </resultMap>

    <select id="selectSfProductList" parameterType="Product" resultMap="ProductResult">
        select *
        from sf_product
    </select>

    <select id="findVariantByProductId" resultType="ProductVariant">
         select * from sf_product_variant where product_id=#{productId}
    </select>
</mapper>